/* About */

/* Heading */
.about-heading {
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 3rem;
    font-size: 50px;
}

/* Image */
.about-image {
    max-width: 100%;
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

/* Text */
.card-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
}

/* Header */
.card-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

/* About section container */
#about {
    margin-bottom: 12rem;
}

/* Tablet */
@media (min-width: 768px) {
    .about-image {
        width: 250px;
        margin-bottom: 0;
    }
}

/* Desktop */
@media (min-width: 992px) {
    .about-image {
        width: 300px;
    }
}